{% extends 'index.html' %}
{% load staticfiles %}

{% block css %}
    <style>
        /* 隐藏id列 */
        .hiddenCol {
            display: none;
        }
    </style>
{% endblock %}

{% block main_content %}

    <!-- Main content -->
    <section class="content">
      <!-- BAR CHART -->
      <div class="box box-success">
        <div class="box-header with-border">
          <h3 class="box-title">数据波形图</h3>

          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
            </button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
          </div>
        </div>
        <!-- 曲线图 -->
        <div class="box-body">
            <div id="container">
            </div>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->

      <!-- /.table -->
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">全部数据</h3>
          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
          </div>
        </div>
            <!-- /.box-header -->
        <div class="box-body">
            <table id="example1" class="table table-bordered table-striped table-hover" style="width: 100%;">
                <thead>
                    <tr>
                        <th>ID&nbsp;&nbsp;&nbsp;</th>
                        <th>名&nbsp;称&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                        <th>网&nbsp;络&nbsp;号&nbsp;&nbsp;</th>
                        <th>时&nbsp;间&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                        <th>电&nbsp;量&nbsp;&nbsp;&nbsp;</th>
                        <th>温&nbsp;度&nbsp;&nbsp;&nbsp;</th>
                        <th>厚&nbsp;度&nbsp;值&nbsp;&nbsp;&nbsp;</th>
                        <th>操&nbsp;作&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                    </tr>
                </thead>
            </table>
        </div>
        <!-- /.row -->
      </div>
      <!-- /.box -->

    </section>
    <!-- /.content -->


{% endblock %}

{% block script %}

    <script>

        $(function () {
          {#initChart();#}

            $('#example1').DataTable({
                order: [[ 3, "desc" ]],  // 初始化倒序排列
                //scrollY: "500px",       // 固定行（header）
                scrollX: true,          // 固定列
                fixedColumns: {
                        leftColumns: 2  // 固定第1列
                    },
                "paging": true,
                "searching": true,
                "processing": true,
                "serverSide": true,
                {#"renderer": "bootstrap",//渲染样式：Bootstrap和jquery-ui#}
                "pagingType": "simple_numbers",//分页样式：simple,simple_numbers,full,full_numbers
                "autoWidth": true,
                {#"stateSave": true,//保持翻页状态，和comTable.fnDraw(false);结合使用#}
                "ajax": {
                    "url": "/gateway/all-data-report",
                    "type": "post",
                 },
                "columns": [          //若返回的data為字典，需要設置此屬性
                   { "data": "id", "sClass":"hiddenCol"},
                   { "data": "network_id__alias" },
                   { "data": "network_id" },
                   { "data": "time_tamp" },
                   { "data": "battery" },
                   { "data": "temperature" },
                   { "data": "thickness" },
                   { "data": "operation" },
                ],
                "columnDefs": [
                    {
                    "targets": 7,
                    "orderable": false
                    },
                ],

             });

        });

        function initChart() {
            var chart = Highcharts.chart('container',{
                chart: {
                    type: 'spline',
                    shadow: true,
                    zoomType: 'x',
                    panning: true,
                    panKey: 'shift',
                },
                tooltip: {
                    followTouchMove: true,
                },
                title: {
                    text: null
                },
                xAxis: {
                    type: 'linear'
                },
                yAxis: {
                    endOnTick: false, //对数Y轴不强制结束于标线
                    title: {
                        text: null
                    },
                },
                plotOptions: {
                  series: {
                      lineWidth: 1.5,
                  }
                },
                tooltip: {
                    formatter: function () {
                        return '<b>' + this.series.name + '</b><br/>' +
                                Highcharts.numberFormat(this.x) + '<br/>' +
                                Highcharts.numberFormat(this.y, 2);
                    }
                },
                legend: {
                    enabled: false
                },
                lang:{
                   contextButtonTitle:"图表导出菜单",
                   downloadJPEG:"下载JPEG图片",
                   downloadPDF:"下载PDF文件",
                   downloadPNG:"下载PNG文件",
                   downloadSVG:"下载SVG文件",
                   printChart:"打印图表",
                   resetZoom:"恢复缩放",
                   resetZoomTitle:"恢复图表",
                },
                exporting: {
                    enabled: true
                },
                series: [
                    {
                        name: '',
                        data: [
                        ]
                    },
                ]
            });

        }

        function GetData(ths) {
            var config = {
                chart: {
                    type: 'spline',
                    shadow: true,
                    zoomType: 'x',
                    panning: true,
			        panKey: 'shift',
                },
                title: {
                    text: null
                },
                xAxis: {
                    type: 'linear'
                },
                yAxis: {
                    endOnTick: false, //对数Y轴不强制结束于标线
                    title: {
                        text: null
                    },
                },
                plotOptions: {
                  series: {
                      lineWidth: 1.5,
                  }
                },
                tooltip: {
                    followTouchMove: true,
                    formatter: function () {
                        return '<b>' + this.series.name + '</b><br/>' +
                                Highcharts.numberFormat(this.x) + '<br/>' +
                                Highcharts.numberFormat(this.y, 2);
                    }
                },
                legend: {
                    enabled: false
                },
                lang:{
                   contextButtonTitle:"图表导出菜单",
                   downloadJPEG:"下载JPEG图片",
                   downloadPDF:"下载PDF文件",
                   downloadPNG:"下载PNG文件",
                   downloadSVG:"下载SVG文件",
                   printChart:"打印图表",
                   resetZoom:"恢复缩放",
                   resetZoomTitle:"恢复图表",
                },
                exporting: {
                    enabled: true
                },
                series: [
                    {
                        name: '',
                        data: [
                        ]
                    },
                ]
            };
            // 数据库中获取 serie
            var nid = $(ths).parent().parent().children().eq(0).text();
            $.ajax({
                url: '/gateway/data-json-report-'+nid,
                type:'GET',
                dataType: 'JSON',
                success:function(arg){
                    config['series'] = arg;
                    config['title']['text'] = arg[0]['name'];
                    $('#container').highcharts(config);
                }
             })
        }


    </script>

{% endblock %}

