{% extends 'index.html' %}
{% load staticfiles %}

{% block main_content %}

    <!-- Main content -->
    <section class="content">
      <!-- BAR CHART -->
      <div class="box box-success">
        <div class="box-header with-border">
          <h3 class="box-title">数据波形图</h3>

          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
            </button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
          </div>
        </div>
        <!-- 曲线图 -->
        <div class="box-body">
            <div id="container">
            </div>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->

      <!-- /.table -->
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">全部数据</h3>
          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
          </div>
        </div>
            <!-- /.box-header -->
        <div class="box-body">
            <table id="all-data" class="table table-bordered table-striped table-hover" style="width: 100%;">
                <thead>
                    <tr>
                        <th>名称</th>
                        <th style="display: none;">id</th>
                        <th>网络号</th>
                        <th>时间</th>
                        <th>电量</th>
                        <th>温度</th>
                        <th>厚度值</th>
                        <th>数据详情</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in data_obj %}
                        <tr>
                            <td><p style="width: 50px;">{{ row.network_id__alias }}</p></td>
                            <td style="display: none;">{{ row.id }}</td>
                            <td><p style="width: 70px;">{{ row.network_id }}</p></td>
                            <td><p style="width: 75px;">{{ row.time_tamp }}</p></td>
                            <td><p style="width: 55px;">{{ row.battery }}</p></td>
                            <td><p style="width: 50px;">{{ row.temperature }}</p></td>
                            <td><p style="width: 70px;">{{ row.thickness }}</p></td>
                            <td><a href="javascript:;" style="cursor: pointer;" onclick="GetData(this);"><p style="width: 80px;"><i class="fa fa-pencil"></i> 数据详情</p></a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- /.row -->
      </div>
      <!-- /.box -->

    </section>
    <!-- /.content -->


{% endblock %}

{% block script %}

    <script>

        $(function () {
          initChart();

        $('#all-data').DataTable({
            order: [[ 3, "desc" ]],  // 初始化倒序排列
            scrollX: true,          // 固定列
            fixedColumns: {
                    leftColumns: 1  // 固定第1列
                },

        });

        });

        function initChart() {
            var chart = Highcharts.chart('container',{
                chart: {
                    type: 'spline',
                    shadow: true,
                    zoomType: 'x',
                    panning: true,
                    panKey: 'shift',
                },
                tooltip: {
                    followTouchMove: true,
                },
                title: {
                    text: null
                },
                xAxis: {
                    type: 'linear'
                },
                yAxis: {
                    endOnTick: false, //对数Y轴不强制结束于标线
                    title: {
                        text: '值'
                    },
                    plotLines: [{
                        value: 0,
                        width: 1,
                        color: '#808080'
                    }]
                },
                tooltip: {
                    formatter: function () {
                        return '<b>' + this.series.name + '</b><br/>' +
                                Highcharts.numberFormat(this.x) + '<br/>' +
                                Highcharts.numberFormat(this.y, 2);
                    }
                },
                legend: {
                    enabled: false
                },
                exporting: {
                    enabled: true
                },
                series: [
                    {
                        name: '',
                        data: [
                        ]
                    },
                ]
            });

        }

        function GetData(ths) {
            var config = {
                chart: {
                    type: 'spline',
                    shadow: true,
                    zoomType: 'x',
                    panning: true,
			        panKey: 'shift',
                },
                title: {
                    text: null
                },
                xAxis: {
                    type: 'linear'
                },
                yAxis: {
                    endOnTick: false, //对数Y轴不强制结束于标线
                    title: {
                        text: '值'
                    },
                    plotLines: [{
                        value: 0,
                        width: 1,
                        color: '#808080'
                    }]
                },
                tooltip: {
                    followTouchMove: true,
                    formatter: function () {
                        return '<b>' + this.series.name + '</b><br/>' +
                                Highcharts.numberFormat(this.x) + '<br/>' +
                                Highcharts.numberFormat(this.y, 2);
                    }
                },
                legend: {
                    enabled: false
                },
                exporting: {
                    enabled: false
                },
                series: [
                    {
                        name: '',
                        data: [
                        ]
                    },
                ]
            };
            // 数据库中获取 serie
            var nid = $(ths).parent().parent().children().eq(1).text();
            $.ajax({
                url: '/gateway/data-json-report-'+nid,
                type:'GET',
                dataType: 'JSON',
                success:function(arg){
                    config['series'] = arg;
                    config['title']['text'] = arg[0]['name'];
                    $('#container').highcharts(config);
                }
             })
        }


    </script>

{% endblock %}

