{% extends 'index.html' %}
{% load staticfiles %}

{% block main_content %}

    <!-- Main content -->
    <section class="content">

      <!-- SELECT2 EXAMPLE -->
      <div class="box box-default">
        <div class="box-header with-border">
          <h3 class="box-title">节点轮询时间设置、手动获取节点</h3>

          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
          </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <!--/.row 模式选择 redio-->
          <div class="row">
            <div class="col-md-6 col-sm-8" style="display: none">
              <div class="form-group">
                  <label style="color: red;">
                      选择模式：
                  </label>
                <label>
                  <input type="radio" id="Timing" name="group" class="flat-red">
                    轮询模式
                </label>
              </div>
              <!-- /.form-group -->
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row 轮询模式-->
          <div class="row">
{#            <div class="col-md-2">#}
{#              <div class="form-group">#}
{#                <label><b style="color: #ff1c1f">轮询模式：</b>月份：</label>#}
{#                <select class="form-control select2" multiple="multiple" data-placeholder="月份"#}
{#                       name="month" id="month" style="width: 100%;">#}
{#                  {% for item in context.month_cron %}#}
{#                      <option value="{{ item }}">{{ item }}</option>#}
{#                  {% endfor %}#}
{#                </select>#}
{#              </div>#}
{#              <!-- /.form-group -->#}
{#            </div>#}
            <!-- /.col -->
            <div class="col-md-2">
              <div class="form-group">
                <label><b style="color: #ff1c1f">轮询模式：</b>天：</label>
                <select class="form-control select2" data-placeholder="天" name="days" id="days" style="width: 100%;">
                  {% for day_item in context.Day_interval %}
                      <option value="{{ day_item }}">{{ day_item }}</option>
                  {% endfor %}
                </select>
              </div>
              <!-- /.form-group -->
            </div>
            <!-- /.col -->
            <div class="col-md-2">
              <div class="form-group">
                <label><b style="color: #ff1c1f">轮询模式：</b>小时：</label>
                <select class="form-control select2" data-placeholder="小时" name="hours" id="hours" style="width: 100%;">
                  {% for hour_item in context.Hour_interval %}
                      <option value="{{ hour_item }}">{{ hour_item }}</option>
                  {% endfor %}
                </select>
              </div>
              <!-- /.form-group -->
            </div>
            <!-- /.col -->
            <div class="col-md-2">
              <div class="form-group">
                <label><b style="color: #ff1c1f">轮询模式：</b>分钟：</label>
                <select class="form-control select2" data-placeholder="分钟" name="minutes" id="minutes" style="width: 100%;">
                  {% for minutes_item in context.Minute_interval %}
                      <option value="{{ minutes_item }}">{{ minutes_item }}</option>
                  {% endfor %}
                </select>
              </div>
              <!-- /.form-group -->
            </div>
            <!-- /.col -->
          <div class="col-md-2">
              <label></label>
              <div class="layui-inline" style="margin-top: 8px">
                  <span id="timing-sub-msg" style="color: red; margin-left: 10px"></span>
              </div>
          </div>
            <!-- /.col -->
          </div>
          <!-- /.row 状态-->
          <div class="row">
            <!-- /.col 状态信息-->
            <div class="col-md-2">
              <div class="form-group">
                   <label style="font-size: 18px;">轮询状态：</label>
                    <i class="fa fa-circle icon-status" style="font-size: 25px; color: #8f8f8f"></i>
                   <label id="run-status" style="font-size: 25px;">已暂停</label>
              </div>
              <!-- /.form-group -->
            </div>
            <!-- /.col 按钮-->
            <div class="col-md-2">
              <div id="start-scheduler" class="form-group">
                  <button type="button" class="btn btn-block btn-success" onclick="SubSetting()">启动定时器</button>
              </div>
              <!-- /.form-group -->
            </div>
            <!-- /.col -->
            <!-- /.col 按钮-->
            <div class="col-md-1">
              <div class="form-group">
                  <button type="button" class="btn btn-block btn-warning" id="btn-status">暂停</button>
              </div>
              <!-- /.form-group -->
            </div>
            <!-- /.col -->
            <!-- /.col 按钮-->
            <div class="col-md-1">
              <div class="form-group">
                  <button type="button" class="btn btn-block btn-danger" onclick="ResetTime()">重置</button>
              </div>
              <!-- /.form-group -->
            </div>
            <!-- /.col -->
          </div>

          <!-- /.row 手动设置传感器-->
          <div class="row">
            <!-- left column -->
            <div class="col-md-4">
                <!-- form start -->
                    <div class="form-group">
                        <label>传感器：</label>
                        <select class="form-control select2" id="selected-network-id" style="width: 50%; display: inline;" data-placeholder="传感器">
                            <option></option>
                            {% for sensor_item in all_sensor_list %}
                                <option value="{{ sensor_item.network_id }}">{{ sensor_item.alias }}</option>
                            {% endfor %}
                        </select>
                        <button type="submit" class="btn btn-primary" id="get-data-manual" style="display: inline; margin-left: 20px">手动获取</button>

                    </div>
                  <!-- /.box-body -->
              <!-- /.box -->
            </div>
            <div class="">
                <div class="layui-inline">
                    <span id="get-data-manual-msg" style="display: inline; color: red;"></span>
                </div>
            </div>
        </div>
          <!-- /.row -->
        </div>
      </div>
      <!-- /.box -->


        <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title">最新数据曲线图</h3>
              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
              </div>
            </div>
                <!-- /.box-header -->

            <div class="box-body">
              <div class="row">
                <!-- 曲线图 -->
                    <div id="container">
                    </div>
                </div>
            </div>
        </div>
        <!-- /.col -->

      <!-- /.table -->
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">最新数据</h3>
          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
          </div>
        </div>
            <!-- /.box-header -->
        <div class="box-body">
                <table id="example1" class="table table-bordered table-striped table-hover" style="width: 100%;">
                    <thead>
                        <tr>
                            <th>名&nbsp;称&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                            <th style="display: none">id&nbsp;&nbsp;&nbsp;</th>
                            <th>网&nbsp;络&nbsp;号&nbsp;&nbsp;</th>
                            <th>时&nbsp;间&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                            <th>电&nbsp;量&nbsp;&nbsp;&nbsp;</th>
                            <th>温&nbsp;度&nbsp;&nbsp;&nbsp;</th>
                            <th>厚&nbsp;度&nbsp;值&nbsp;&nbsp;&nbsp;</th>
                            <th>数&nbsp;据&nbsp;详&nbsp;情&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in latest_data %}
                            <tr>
                                <td>{{ row.network_id__alias }}</td>
                                <td style="display: none">{{ row.id }}</td>
                                <td>{{ row.network_id }}</td>
                                <td>{{ row.time_tamp }}</td>
                                <td>{{ row.battery }}</td>
                                <td>{{ row.temperature }}</td>
                                <td>{{ row.thickness }}</td>
                                <td><a href="javascript:;" onclick="GetData(this);"><i class="fa fa-pencil"></i> 数据详情</a></td>
{#                                <td><p style="width: 50px;">{{ row.network_id__alias }}</p></td>#}
{#                                <td style="display: none">{{ row.id }}</td>#}
{#                                <td><p style="width: 75px;">{{ row.network_id }}</p></td>#}
{#                                <td><p style="width: 75px;">{{ row.time_tamp }}</p></td>#}
{#                                <td><p style="width: 50px;">{{ row.battery }}</p></td>#}
{#                                <td><p style="width: 50px;">{{ row.temperature }}</p></td>#}
{#                                <td><p style="width: 60px;">{{ row.thickness }}</p></td>#}
{#                                <td><a href="javascript:;" onclick="GetData(this);"><p style="width: 80px;"><i class="fa fa-pencil"></i> 数据详情</p></a></td>#}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
          <!-- /.box-body -->
        <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.box -->

    </section>
    <!-- /.content -->


{% endblock %}

{% block script %}

    <script>

      $(function () {
        //Initialize Select2 Elements
        $('.select2').select2();
        $('#example1').DataTable({
            bPaginate: false,
            bSort: false,
            bFilter: false,
            scrollX: true,          // 固定列
            fixedColumns: {
                    leftColumns: 1  // 固定第1列
                },
        });

        //刷新页面后显示原来的值
        ShowOriginData();

        //暂停、恢复时间
        PauseTime();

        //手动获取数据
        RefreshDataManual();

      });


      //刷新页面保留上次数据
    function ShowOriginData() {

        //手动获取的id
        var menu_id = "{{ latest_set_id }}";
        $('#selected-network-id').val([menu_id]).trigger("change");

        //Timing-time
        var days = "{{ latest_Timing_time.days }}";
        $('#days').select2("val", days);
        var hours = "{{ latest_Timing_time.hours }}";
        $('#hours').select2("val", hours);
        var minutes = "{{ latest_Timing_time.minutes }}";
        $('#minutes').select2("val", minutes);

        $('#run-status').text('{{ latest_time_status.text_status }}');
        $('#btn-status').text('{{ latest_time_status.button_status }}');
        if('{{ latest_time_status.text_status }}'==='已暂停'){
            $(".icon-status").css('color', '#8f8f8f');
         }else{
            $(".icon-status").css('color', '#3E8F03');
            $("#run-status").css('color', '#3E8F03');
         }
        if('{{ latest_time_status.button_status }}'==='暂停'){
            $("#btn-status").addClass('btn-warning');
         }else{
            $("#btn-status").removeClass('btn-warning').addClass('btn-success');
         }
    }

    //启动定时任务
    function SubSetting() {
        var days = $('#days').val();
        var hours = $('#hours').val();
        var minutes = $('#minutes').val();
        var TimingDateList = [days, hours, minutes];
        $.ajax({
            url:'/gateway/set-Timing-time',
            type:'POST',
            data:{'TimingDateList': TimingDateList},
            traditional:true,
            dataType:'JSON',
            success:function (arg) {
                if(arg.status){
                    console.log('Timing'+arg.message);
                    $(".icon-status").css('color', '#3E8F03');
                    $("#run-status").text('运行中...').css('color', '#3E8F03');
                    $('#btn-status').text('暂停').addClass('btn-warning');
                    SaveStatus();
                }
                $('#timing-sub-msg').text(arg.message);
                ClearMSG('timing-sub-msg');
            }
        });
    }

    //重置/清除
    function ResetTime() {
        $.ajax({
            url: '/gateway/reset-Timing-time',
            type:'POST',
            dataType:'JSON',
            success:function (arg) {
                if(arg.status){
                    $(".icon-status").css('color', '#8f8f8f');
                    $("#run-status").text('已暂停');
                    $('#btn-status').text('暂停').addClass('btn-warning');
                    SaveStatus();
                    window.location.reload();
                }
            }
        })
    }

    //暂停、恢复
    function PauseTime() {
        $("#btn-status").click(function () {
            var editing = $(this).hasClass('btn-warning');
            var ths = this;
            if(editing){
                $.ajax({
                    url:'/gateway/pause-Timing-time',
                    dataType:'JSON',
                    success:function (arg) {
                        if(arg.status){
                            console.log(arg.message);
                            $(ths).removeClass('btn-warning');
                            $(ths).addClass('btn-success');
                            $(ths).text('恢复');
                            $(".icon-status").css('color', '#8f8f8f');
                            $("#run-status").text('已暂停').css('color', '#8f8f8f');
                            SaveStatus();
                        }
                    }
               })
            }else{
                //恢复定时时间
                $.ajax({
                    url:'/gateway/resume-Timing-time',
                    dataType:'JSON',
                    success:function (arg) {
                        if(arg.status){
                            console.log(arg.message);
                            $(ths).addClass('btn-warning');
                            $(ths).text('暂停');
                            $(".icon-status").css('color', '#3E8F03');
                            $("#run-status").text('运行中...').css('color', '#3E8F03');
                            SaveStatus();
                        }
                    }
               })
            }
        })
    }

    //手动获取数据
    function RefreshDataManual() {
    $('#get-data-manual').click(function () {
        var network_id = $('#selected-network-id').val();
        $('#get-data-manual-msg').text('正在获取数据中...');
        console.log(network_id);
            $.ajax({
                url:'/gateway/manual-get/' + network_id,
                type:'POST',
                dataType:'JSON',
                success:function (arg) {
                    if(arg.status){
                        window.location.reload();
                        $('#get-data-manual-msg').text(arg.message);
                        ClearMSG('get-data-manual-msg');
                    }else{
                        $('#get-data-manual-msg').text(arg.message);
                        ClearMSG('get-data-manual-msg');
                    }
                }
            })
         })
    }

    //保存状态
    function SaveStatus() {
        var text_status = $('#run-status').text();
        var button_status = $('#btn-status').text();
        var data = {'text_status':text_status, 'button_status':button_status};
        $.ajax({
            url:'/gateway/save-status',
            type:'POST',
            data:{'data':JSON.stringify(data)},
            dataType:'JSON',
            traditional:true,
            success:function (arg) {
                console.log('save status'+arg.message)
            }
        })

    }

    //初始化heightchart
     function GetData(ths) {
            var config = {
                chart: {
                    type: 'spline',
                    shadow: true,
                    zoomType: 'x',
                    panning: true,
			        panKey: 'shift',
                },
                title: {
                    text: null
                },
                xAxis: {
                    type: 'linear'
                },
                yAxis: {
                    endOnTick: false, //对数Y轴不强制结束于标线
                    title: {
                        text: null
                    },
                },
                plotOptions: {
                  series: {
                      lineWidth: 1.5,
                  }
                },
                tooltip: {
                    followTouchMove: true,
                    formatter: function () {
                        return '<b>' + this.series.name + '</b><br/>' +
                                Highcharts.numberFormat(this.x) + '<br/>' +
                                Highcharts.numberFormat(this.y, 2);
                    }
                },
                legend: {
                    enabled: false
                },
                lang:{
                   contextButtonTitle:"图表导出菜单",
                   downloadJPEG:"下载JPEG图片",
                   downloadPDF:"下载PDF文件",
                   downloadPNG:"下载PNG文件",
                   downloadSVG:"下载SVG文件",
                   printChart:"打印图表",
                   resetZoom:"恢复缩放",
                   resetZoomTitle:"恢复图表",
                },
                exporting: {
                    enabled: true
                },
                series: [
                    {
                        name: '',
                        data: [
                        ]
                    },
                ]
            };
            {#$('#container').highcharts(config);#}
            // 数据库中获取 serie
            var nid = $(ths).parent().parent().children().eq(1).text();
            $.ajax({
                url: '/gateway/data-json-report-'+nid,
                type:'GET',
                dataType: 'JSON',
                success:function(arg){
                    config['series'] = arg;
                    config['title']['text'] = arg[0]['name'];
                    $('#container').highcharts(config);
                }
             })
        }

    //清除提示信息
    function ClearMSG(nid) {
        setTimeout(function () {
            $("#"+nid).text('')
        }, 3000);
    }



    </script>

{% endblock %}

