{% extends 'index.html' %}
{% load staticfiles %}

{% block main_content %}

    <!-- Main content -->
    <section class="content">

      <!-- /.table -->
      <div class="box">
        <div class="box-header with-border">
              {% if not gateway_obj %}
                    <h3 class="box-title">添加网关&nbsp;&nbsp;&nbsp;
                        <b style="color: red; opacity: 50%">暂无网关，请先添加网关，再添加传感器</b>
                    </h3>
              {% else %}
                  <h3 class="box-title">更新网关</h3>
              {% endif %}
          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
          </div>
        </div>
        <div class="box-body">
              {% if not gateway_obj %}
                  <div class="row">
                    <div class="col-xs-6 col-md-4 col-md-offset-1">
                        <div class="form-group">
                            <label for="name">网关名称</label>
                            <input type="text" class="form-control" name="name" id="name" value="">
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-4 col-md-offset-1">
                        <div class="form-group">
                            <label for="Enterprise">公司名称</label>
                            <input type="text" class="form-control" name="Enterprise" id="Enterprise" value="">
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-4 col-md-offset-1">
                        <div class="form-group">
                            <label for="network_id">网关网络号</label>
                            <input type="text" class="form-control" name="network_id" id="network_id" value="">
                        </div>
                    </div>
                      <div class="col-xs-6 col-md-4 col-md-offset-1">
                        <div class="form-group">
                            <label for="gw_status">网关在线状态</label>
                            <select class="form-control select2" name="gw_status" id="gw_status" style="width: 100%;">
                              {% for k, v in gw_status.items %}
                                  <option value="{{ v }}">{{ k }}</option>
                              {% endfor %}
                            </select>
                        </div>
                    </div>
              </div>
              {% else %}
                  <div class="row">
                <div class="col-xs-6 col-md-4 col-md-offset-1">
                    <div class="form-group">
                        <label for="name">网关名称</label>
                        <input type="text" class="form-control" name="name" id="name" value="{{ gateway_obj.name }}">
                    </div>
                </div>
                <div class="col-xs-6 col-md-4 col-md-offset-1">
                    <div class="form-group">
                        <label for="Enterprise">公司名称</label>
                        <input type="text" class="form-control" name="Enterprise" id="Enterprise" value="{{ gateway_obj.Enterprise }}">
                    </div>
                </div>
                <div class="col-xs-6 col-md-4 col-md-offset-1">
                    <div class="form-group">
                        <label for="network_id">网关网络号</label>
                        <input type="text" class="form-control" name="network_id" id="network_id" value="{{ gateway_obj.network_id }}" disabled>
                    </div>
                </div>
                  <div class="col-xs-6 col-md-4 col-md-offset-1">
                    <div class="form-group">
                        <label for="gw_status">网关在线状态</label>
                        <select class="form-control select2" name="gw_status" id="gw_status" style="width: 100%;">
                          {% for k, v in gw_status.items %}
                              <option value="{{ v }}">{{ k }}</option>
                          {% endfor %}
                        </select>
                    </div>
                </div>
              </div>
              {% endif %}


            <div class="row">
                    <div class="col-md-3 col-md-offset-5">
                      <div class="form-group" style="margin-top: 10px">
                          <span id="update-gateway" style="color: red;"></span>
                      </div>
                    </div>
                    <div class="col-md-1">
                      <div class="form-group">
                          <a href="javascript:history.go(-1);" type="button" class="btn btn-default">取消</a>
                      </div>
                    </div>
                    <div class="col-md-1">
                      <div class="form-group">
                          <button type="button" class="btn btn-success" onclick="Conform()">确定</button>
                      </div>
                    </div>
            </div>

        </div>
      </div>
    </section>


{% endblock %}

{% block script %}

    <script>

        $(function () {
            $('.select2').select2();

            ShowOriginData()
        });

        //刷新页面保留上次数据
        function ShowOriginData() {

           var gw_status = "{{ gateway_obj.gw_status }}";
           gw_status = gw_status.split(',');
           console.log(gw_status);
           $('#gw_status').select2("val", [gw_status]);

        }

        function Conform() {
            var Enterprise = $('#Enterprise').val();
            var name = $('#name').val();
            var network_id = $('#network_id').val();
            var gw_status = $('#gw_status').val();
            var gateway_data = JSON.stringify({'Enterprise': Enterprise, 'name': name,
                'network_id': network_id, 'gw_status': gw_status});
            if (Enterprise === '' || name === '' || network_id === '' || gw_status === null) {
                $('#update-gateway').html('信息不全！');
                ClearMSG('update-gateway');
            }else{
                $.ajax({
                    url: '/gateway/set-gateway-json',
                    type:'POST',
                    data: {'gateway_data': gateway_data},
                    traditional: true,
                    dataType:'JSON',
                    success:function (arg) {
                        if(arg.status){
                            $('#update-gateway').html(arg.msg);
                            ClearMSG('update-gateway');
                        }else {
                            $('#update-gateway').html(arg.msg);
                            ClearMSG('update-gateway');
                        }
                    }
                })
            }
        }


        //清除提示信息
        function ClearMSG(nid) {
            setTimeout(function () {
                $("#"+nid).text('')
            }, 3000);
        }

    </script>

{% endblock %}








