{% extends 'index.html' %}
{% load staticfiles %}

{% block main_content %}

    <!-- Main content -->
    <section class="content">
      <!-- BAR CHART -->
      <div class="box box-success">
        <div class="box-header with-border">
          <h3 class="box-title">单个传感器厚度曲线</h3>

          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
            </button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
          </div>
        </div>
        <!-- 曲线图 -->
        <div class="box-body">
            <div class="row">
            <!-- left column -->
            <div class="col-md-6">
                    <div class="form-group">
                        <label>传感器：</label>
                        <select class="form-control select2" id="selected-network-id" style="width: 50%; display: inline;" data-placeholder="传感器">
                            <option></option>
{#                            {% for sche_id, sche_alias in sche_job_id_dict.items %}#}
{#                                <option value="{{ sche_id }}">{{ sche_alias }}</option>#}
{#                            {% endfor %}#}
                            {% for item in data_obj %}
                                <option value="{{ item.network_id }}">{{ item.network_id__alias }}</option>
                            {% endfor %}
                        </select>
                        <button type="submit" class="btn btn-primary" style="display: inline; margin-left: 20px" id="show-thickness">确定</button>
                        <label id="show-thickness-msg" style="color: red;"></label>
                    </div>
                  <!-- /.box-body -->
              <!-- /.box -->
            </div>
        </div>
          <!-- /.row -->
            <div id="container">
            </div>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->

    </section>
    <!-- /.content -->


{% endblock %}

{% block script %}

    <script>

      $(function () {
          ShowThickness();

        //Initialize Select2 Elements
        $('.select2').select2();

      });

        function ShowThickness() {
            var config = {
                chart: {
                    type: 'spline',
                    shadow: true,
                    zoomType: 'x',
                    panning: true,
			        panKey: 'shift',
                },
                tooltip: {
                    followTouchMove: true,
                },
                title: {
                    text: null
                },
                xAxis: {
                    type: 'category',
                   },
                yAxis: {
                    tickInterval: 0.05,
                    title: {
                        text: '值'
                    },
                },
                legend: {
                    enabled: false
                },
                lang:{
                   contextButtonTitle:"图表导出菜单",
                   downloadJPEG:"下载JPEG图片",
                   downloadPDF:"下载PDF文件",
                   downloadPNG:"下载PNG文件",
                   downloadSVG:"下载SVG文件",
                   printChart:"打印图表",
                   resetZoom:"恢复缩放",
                   resetZoomTitle:"恢复图表",
                },
                exporting: {
                    enabled: true
                },
                series: [
                    {
                        name: '',
                        data: [
                            ]
                    }
                ]
            };
            $('#container').highcharts(config);
            $('#show-thickness').click(function () {
                var network_id = $('#selected-network-id').val();
                $.ajax({
                url: '/gateway/thickness-json-report',
                type:'GET',
                data:{'network_id': network_id},
                dataType: 'JSON',
                success:function(arg){
                    config['series'] = arg;
                    $('#container').highcharts(config);
                    if(arg[0]['data'].length===0){
                        $('#show-thickness-msg').text('当前传感器暂无数据！');
                        ClearMSG('show-thickness-msg')
                    }

                }
             })

            })
        }

        //清除提示信息
        function ClearMSG(nid) {
            setTimeout(function () {
                $("#"+nid).text('')
            }, 3000);
        }

    </script>

{% endblock %}

