<!DOCTYPE html>
<html>
<head>
 <title>可编辑可选择的下拉框</title>
 <meta charset="utf-8">
    <style>
        {#div.changeDiv input {#}
        {#    font-size: 1em;#}
        {#    font-family: 仿宋, serif;#}
        {#    width: 60%;#}
        {#    display: block;#}
        {#    margin-left: 10%;#}
        {#    opacity: 0.8;#}
        {#    padding: 0.2em;#}
        {#    color: #000000;#}
        {#    border-radius: 10px;#}
        {#    background-color: #bed8df;#}
        {# }#}
    </style>
</head>
<body>
<div class="changeDiv">
    <a>性别:</a>
    <input id="sex" type="text" list="sexlist">
    <datalist id="sexlist">
        <option>男</option>
        <option>女</option>
    </datalist>
</div>

 <script>
  var listName = document.getElementById('list-name-for-select');
  document.getElementById('list-select').onchange = function(e){
   if(this.value){
    listName.value = this.value + ' | ' + this.options[this.selectedIndex].text;
   }else{
    listName.value = ''
   }
  };
 </script>
</body>
</html>